@import "../../../utilities/variables";

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .form__header {
    margin-top: 10px;
    padding-bottom: 5px;
    text-align: center;
    font-weight: 500;
  }

  .form__input-container {
    width: 70%;
  }

  .form__input {
    width: 100%;
    padding: 2px 0;
  }
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 576px) {
  .form {
    .form__header {
      font-weight: 400;
    }

    .form__input-container {
      width: 100%;
    }
  }
}
