$font-color: #616159;

h1,
p {
  text-align: center;
  font-weight: 400;
  margin: 0;
  color: $font-color;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* disable for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.app-set-body-parameters-dialog__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    padding-bottom: 10px;
  }

  .app-set-body-parameters-dialog__container--input {
    width: 100%;
    padding: 3px 0;
  }
}

.app-set-body-parameters-dialog__buttons {
  display: flex;
  align-items: center;
  justify-content: center;

  .app-set-body-parameters-dialog__buttons--cancel {
    color: #961c14;
  }
}
