$schedule-background-color: #fafafa;
$font-color: #616159;

p,
h1 {
  margin: 0;
  color: $font-color;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: green !important;
}

::ng-deep .mat-checkbox-ripple .mat-ripple-element {
  background-color: green !important;
}
mat-checkbox {
  padding: 0;
  text-align: center;
}

.app-schedule {
  background-color: $schedule-background-color;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .app-schedule__card {
    display: flex;
    padding: 0;
    width: 90%;
    height: auto;
    margin-top: 90px;
    min-height: 85vh;

    .app-schedule__card--meals-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 30px 30px 30px 45px;

      .app-schedule__card--meals-details {
        flex-direction: column;
        padding: 15px 0;
        border-bottom: dotted 1px #ccc;
        margin: 0;

        .app-schedule__card--meal-type-header {
          padding-bottom: 10px;
          font-weight: 500;
          font-size: 16px;
        }

        .app-schedule__card--meal-details {
          display: flex;
          align-items: center;

          .app-schedule__card--recipe-image {
            width: 100px;
            height: 50px;
            cursor: pointer;
          }

          .app-schedule__card--recipe-name {
            cursor: pointer;
            font-size: 15px;

            &:hover {
              text-decoration: underline;
            }
          }

          .app-schedule__card--delete-icon {
            margin: 0;
            padding: 0;
            margin-left: auto;
            margin-right: 10px;
            cursor: pointer;
            transition: all 0.5s ease-in-out;

            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
    }

    .app-schedule__card--details-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 45px 10px;

      .app-schedule__card--details-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        mat-icon {
          margin-right: 20px;
          font-weight: 500;
          font-size: 35px;
          width: 35px;
          height: 35px;
        }
        h1 {
          text-transform: uppercase;
          font-weight: 500;
          padding-bottom: 20px;
          text-align: center;
          margin-right: 20px;
        }
      }

      .app-schedule__card--detail {
        padding-bottom: 20px;
        display: flex;
        font-size: 16px;
        align-items: baseline;

        .app-schedule__card--dotted {
          border-bottom: 1px dotted #aaa;
          flex-grow: 1;
          margin: 0 10px;
        }

        .app-schedule__card--detail-to-right {
          margin-left: auto;
          margin-right: 20px;
        }

        p {
          font-weight: 500;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .app-schedule {
    .app-schedule__card {
      min-height: 0;
    }
  }
}

@media (max-width: 576px) {
  .app-schedule {
    .app-schedule__card {
      .app-schedule__card--text {
        text-align: center;
      }

      .app-schedule__card--detail-to-right {
        margin-left: auto;
        margin-right: 0;
      }

      .app-schedule__card--meals-container {
        padding: 10px;

        .app-schedule__card--meals-details {
          .app-schedule__card--meal-type-header {
            text-align: center;
          }

          .app-schedule__card--meal-details {
            display: flex;
            justify-content: center;
            align-items: center;

            .app-schedule__card--checkbox {
              text-align: center;
              padding-bottom: 15px;
            }

            .app-schedule__card--recipe-image {
              margin-right: 0;
              width: 130px;
              height: 75px;
              margin-bottom: 15px;
            }

            .app-schedule__card--recipe-name {
              text-align: center;
              margin-bottom: 15px;
            }

            .app-schedule__card--delete-icon {
              margin: 0;
              padding: 0;
            }
          }
        }
      }
      .app-schedule__card--details-container {
        padding: 10px;
      }
    }
  }
}
