<div class="home-container">
  <div class="main-section">
    <h1 class="main-section__header">UŁÓŻ Z NAMI IDEALNĄ DIETĘ</h1>
    <p class="main-section__subheader">
      Wprowadź swoje produkty, a następnie na ich podstawie zostaną dobrane
      przepisy
    </p>
  </div>
  <div class="cards-section">
    <mat-card class="cards-section__card row">
      <div
        class="cards-section__card--description col-lg-5 col-md-12 col-sm-12"
      >
        <h2 class="description__header">Załóż bezpłatne konto</h2>
        <p class="description__subheader">
          Założenie bezpłatnego konta daje dostęp do wielu funkcjonalności:
          <br />
          - Możliwość dodawania posiadanych produktów <br />
          - Filtrowanie przepisów na podstawie produktów <br />
          - W pełni funkcjonalny harmonogram <br />
          - Obliczanie BMI oraz zapotrzebowania na podstawie parametrów ciała
          <br />
          - Dodawanie własnych przepisów <br />
        </p>
      </div>
      <img
        class="cards-section__card--image col-lg-6 col-md-12 col-sm-12"
        src="/assets/accounts.png"
      />
    </mat-card>
    <mat-card class="cards-section__card row">
      <img
        class="cards-section__card--image col-lg-6 col-md-12 col-sm-12"
        src="/assets/schedule.png"
      />
      <div
        class="cards-section__card--description col-lg-5 col-md-12 col-sm-12"
      >
        <h2 class="description__header">Zyskaj dostęp do harmonogramu</h2>
        <p class="description__subheader">
          Możesz dodawać do niego wcześniej wybrane przepisy, przypisując je do
          wybranej pory posiłku oraz godziny. Poprzez odznaczenie potrawy,
          dodasz jej wartości odżywcze do statystyk dnia. Dodatkowo zyskasz
          możliwość wprowadzenia przekąsek, które również zostną uwzględnione w
          statystykach.
        </p>
      </div>
    </mat-card>
    <mat-card class="cards-section__card row">
      <div
        class="cards-section__card--description col-lg-5 col-md-12 col-sm-12"
      >
        <h2 class="description__header">Dodawaj własne produkty</h2>
        <p class="description__subheader">
          W naszej bazie znajduje się wiele produktów, które możesz wybrać, a
          następnie na ich podstawie zostną wyszukane przepisy! Wystarczy, że
          zaczniesz wpisywać nazwę produktu, następnie wybierzesz go z listy,
          podasz ilość i gotowe! Możesz teraz zacząc przeglądać nasze przepisy!
        </p>
      </div>
      <img
        class="cards-section__card--image col-lg-6 col-md-12 col-sm-12"
        src="/assets/products.png"
      />
    </mat-card>
    <mat-card class="cards-section__card row">
      <img
        class="cards-section__card--image col-lg-6 col-md-12 col-sm-12"
        src="/assets/recipes.png"
      />
      <div
        class="cards-section__card--description col-lg-5 col-md-12 col-sm-12"
      >
        <h2 class="description__header">Wyszukuj przepisy</h2>
        <p class="description__subheader">
          Po wyborze produktów przyszedł czas na przepisy. W dokładniejszym
          wyszukiwaniu pomogą ci rozbudowane filtry, znajdujące się nad
          przepisami, a w łatwiejszym kompletowaniu składników pomoże
          porównywarka produktów. Dodatkowo każdy zalogowany użytkownik ma
          możliwość dzielenia się swoimi własnymi recepturami!
        </p>
      </div>
    </mat-card>
  </div>
</div>
