<div class="app-add-new-recipe">
  <mat-card class="card">
    <mat-stepper linear>
      <mat-step [stepControl]="mainRecipeDataFormGroup">
        <form [formGroup]="mainRecipeDataFormGroup">
          <ng-template matStepLabel>Podstawowe dane</ng-template>
          <div
            class="card__input-container card__input-container--padding-bottom"
          >
            <div class="card__input-container--image-preview">
              <label>
                <mat-icon
                  class="card__input-container--image-icon"
                  *ngIf="!imagePreview"
                  >add_photo_alternate</mat-icon
                >
                <p *ngIf="!imagePreview">wybierz zdjęcie</p>
                <img
                  class="card__input-container--image"
                  *ngIf="imagePreview"
                  [src]="imagePreview"
                />
                <input
                  #imageInput
                  type="file"
                  accept="image/*"
                  (change)="processFile($event)"
                />
              </label>
            </div>
          </div>
          <div class="card__input-container">
            <mat-form-field
              appearance="outline"
              class="card__input-container--input"
            >
              <mat-label>Nazwa</mat-label>
              <input matInput formControlName="name" maxlength="65" />
              <mat-error>To pole jest wymagane.</mat-error>
            </mat-form-field>
          </div>
          <div class="card__input-container">
            <mat-form-field
              appearance="outline"
              class="card__input-container--input"
            >
              <mat-label>Opis</mat-label>
              <textarea
                matInput
                class="card__input-container--input-description"
                formControlName="description"
                maxlength="350"
              ></textarea>
              <mat-hint align="end"
                >{{
                  mainRecipeDataFormGroup.get("description")?.value?.length
                }}
                / 350</mat-hint
              >
              <mat-error>To pole jest wymagane.</mat-error>
            </mat-form-field>
          </div>
          <div class="card__input-container">
            <mat-form-field
              class="card__input-container--input"
              appearance="outline"
            >
              <mat-label>Czas</mat-label>
              <input
                matInput
                formControlName="cookingTime"
                type="number"
                max="6000"
                min="1"
                required
              />
              <span matSuffix>min</span>
              <mat-error>To pole jest wymagane.</mat-error>
            </mat-form-field>
          </div>
          <p>Ilość osób</p>
          <div
            class="card__input-container card__input-container--padding-bottom"
          >
            <button mat-mini-fab (click)="decreasePersonCount()">
              <mat-icon>remove</mat-icon>
            </button>
            <input
              class="card__input-container--person-count-input"
              formControlName="portions"
            />
            <button mat-mini-fab (click)="increasePersonCount()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
          <p>Poziom zaawansowania</p>
          <div
            class="card__input-container card__input-container--padding-bottom"
          >
            <mat-radio-group formControlName="level">
              <mat-radio-button
                class="card__input-container--radio-button"
                value="łatwy"
                >Łatwy</mat-radio-button
              >
              <mat-radio-button
                class="card__input-container--radio-button"
                value="średni"
                >Średni</mat-radio-button
              >
              <mat-radio-button
                class="card__input-container--radio-button"
                value="trudny"
                >Trudny</mat-radio-button
              >
            </mat-radio-group>
          </div>
          <p>Kategoria</p>
          <div
            class="card__input-container card__input-container--padding-bottom"
          >
            <mat-radio-group formControlName="category">
              <mat-radio-button
                class="card__input-container--radio-button"
                value="śniadanie"
                >Śniadanie</mat-radio-button
              >
              <mat-radio-button
                class="card__input-container--radio-button"
                value="II śniadanie"
                >II śniadanie</mat-radio-button
              >
              <mat-radio-button
                class="card__input-container--radio-button"
                value="obiad"
                >Obiad</mat-radio-button
              >
              <mat-radio-button
                class="card__input-container--radio-button"
                value="podwieczorek"
                >Podwieczorek</mat-radio-button
              >
              <mat-radio-button
                class="card__input-container--radio-button"
                value="kolacja"
                >Kolacja</mat-radio-button
              >
            </mat-radio-group>
          </div>
          <p>Typ diety</p>
          <div
            class="card__input-container card__input-container--padding-bottom dietType"
          >
            <mat-radio-group formControlName="dietType">
              <mat-radio-button
                class="card__input-container--radio-button"
                value="wysokobiałkowa"
                >Wysokobiałkowa</mat-radio-button
              >
              <mat-radio-button
                class="card__input-container--radio-button"
                value="bezglutenowa"
                >bezglutenowa</mat-radio-button
              >
              <mat-radio-button
                class="card__input-container--radio-button"
                value="ketogeniczna"
                >Ketogeniczna</mat-radio-button
              >
              <p class="break"></p>
              <mat-radio-button
                class="card__input-container--radio-button"
                value="wegańska"
                >Wegańska</mat-radio-button
              >
              <mat-radio-button
                class="card__input-container--radio-button"
                value="wegetariańska"
                >Wegetariańska</mat-radio-button
              >
              <mat-radio-button
                class="card__input-container--radio-button"
                value="inna"
                >Inna</mat-radio-button
              >
            </mat-radio-group>
          </div>
          <div>
            <button
              mat-raised-button
              [disabled]="mainRecipeDataFormGroup.invalid"
              matStepperNext
              class="card__next-button"
            >
              Dalej
            </button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="nutrientsFormGroup">
        <form [formGroup]="nutrientsFormGroup">
          <ng-template matStepLabel>Wartości odżywcze</ng-template>
          <div class="card__input-container">
            <mat-form-field
              class="card__input-container--input"
              appearance="outline"
            >
              <mat-label>Kaloryczność</mat-label>
              <input
                formControlName="calories"
                matInput
                type="number"
                max="500000"
                min="1"
                required
              />
              <span matSuffix>kcal</span>
              <mat-error>To pole jest wymagane.</mat-error>
            </mat-form-field>
          </div>
          <div class="card__input-container">
            <mat-form-field
              class="card__input-container--input"
              appearance="outline"
            >
              <mat-label>Węglowodany</mat-label>
              <input
                formControlName="carbohydrates"
                matInput
                type="number"
                max="50000"
                min="1"
                required
              />
              <span matSuffix>g</span>
              <mat-error>To pole jest wymagane.</mat-error>
            </mat-form-field>
          </div>
          <div class="card__input-container">
            <mat-form-field
              class="card__input-container--input"
              appearance="outline"
            >
              <mat-label>Tłuszcze</mat-label>
              <input
                formControlName="fats"
                matInput
                type="number"
                max="50000"
                min="1"
                required
              />
              <span matSuffix>g</span>
              <mat-error>To pole jest wymagane.</mat-error>
            </mat-form-field>
          </div>
          <div class="card__input-container">
            <mat-form-field
              class="card__input-container--input"
              appearance="outline"
            >
              <mat-label>Białka</mat-label>
              <input
                formControlName="proteins"
                matInput
                type="number"
                max="50000"
                min="1"
                required
              />
              <span matSuffix>g</span>
              <mat-error>To pole jest wymagane.</mat-error>
            </mat-form-field>
          </div>
          <div>
            <button mat-button matStepperPrevious>Powrót</button>
            <button
              mat-raised-button
              matStepperNext
              class="card__next-button"
              [disabled]="nutrientsFormGroup.invalid"
            >
              Dalej
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step [completed]="productsAreValid && products.length > 0">
        <form>
          <ng-template matStepLabel>Składniki</ng-template>
          <div
            class="card__input-container"
            *ngFor="let product of products; let i = index"
          >
            <app-add-product-to-recipe
              [product]="product"
              (returnProductData)="saveProductData($event, i)"
              (productToDelete)="deleteProduct(i)"
            ></app-add-product-to-recipe>
          </div>
          <button
            [disabled]="!productsAreValid"
            class="card__input-container--margin-bottom"
            (click)="addAnotherProduct()"
            mat-mini-fab
          >
            <mat-icon>add</mat-icon>
          </button>
          <div>
            <button mat-button matStepperPrevious>Powrót</button>
            <button
              [disabled]="!productsAreValid || !products.length"
              mat-button
              matStepperNext
              class="card__next-button"
            >
              Dalej
            </button>
          </div>
        </form>
      </mat-step>

      <mat-step [completed]="stepsAreValid && steps.length > 0">
        <form>
          <ng-template matStepLabel>Przepis</ng-template>
          <div
            class="card__input-container"
            *ngFor="let recipeStep of steps; let i = index"
          >
            <app-add-another-step-to-recipe
              [index]="i"
              [recipeStep]="recipeStep"
              (returnRecipeStepData)="saveRecipeStepData($event, i)"
              (recipeStepToDelete)="deleteRecipeStep(i)"
            ></app-add-another-step-to-recipe>
          </div>
          <button
            [disabled]="!stepsAreValid"
            class="card__input-container--margin-bottom"
            (click)="addAnotherRecipeStep()"
            mat-mini-fab
          >
            <mat-icon>add</mat-icon>
          </button>
          <div>
            <button mat-button matStepperPrevious>Powrót</button>
            <button
              [disabled]="!stepsAreValid || !steps.length"
              mat-button
              matStepperNext
              class="card__next-button"
            >
              Dalej
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <form>
          <ng-template matStepLabel>Gotowe!</ng-template>
          <h2>Wszystko gotowe!</h2>
          <p class="card__end-text">Możesz teraz opublikować swój przepis</p>
          <button
            *ngIf="mode === 'create'"
            class="card__share-button"
            (click)="addNewRecipe()"
          >
            Opublikuj
          </button>
          <button
            *ngIf="mode === 'edit'"
            class="card__share-button"
            (click)="addNewRecipe()"
          >
            Edytuj
          </button>
          <div>
            <button mat-button matStepperPrevious>Powrót</button>
          </div>
        </form>
      </mat-step>
    </mat-stepper>
  </mat-card>
</div>
