<div class="home-container">
  <div class="main-section">
    <h1 class="main-section__header">UŁÓŻ Z NAMI IDEALNĄ DIETĘ</h1>
    <p class="main-section__subheader">
      Wprowadź swoje produkty, a następnie na ich podstawie zostaną dobrane
      przepisy
    </p>
  </div>
  <!-- <div>
    <p>asdasdsaasas</p>
    <p>asdasdsaasas</p>
    <p>asdasdsaasas</p>
    <p>asdasdsaasas</p>
    <p>asdasdsaasas</p>
    <p>asdasdsaasas</p>
    <p>asdasdsaasas</p>
    <p>asdasdsaasas</p>
    <p>asdasdsaasas</p>
  </div> -->
</div>
