$navbar-background-color: #f7f6e6;
$navbar-active-link-color: #858582;
$navbar-main-link-color: #616159;

.app-navbar {
  background-color: rgba($color: $navbar-background-color, $alpha: 0.9);
  -webkit-box-shadow: 1px -6px 17px 17px rgba(247, 246, 230, 0.9);
  -moz-box-shadow: 1px -6px 17px 17px rgba(247, 246, 230, 0.9);
  box-shadow: 1px -6px 17px 17px rgba(247, 246, 230, 0.9);
  height: 65px;
  position: fixed;
  z-index: 20;
  top: 0;

  .app-navbar__logo {
    text-decoration: none;
    color: $navbar-main-link-color;
    font-size: 25px;
  }

  .app-navbar__spacer {
    flex: 1 1 auto;
  }

  .app-navbar__desktop {
    list-style: none;
    display: flex;
    margin: 0;

    li {
      margin: 25px;
      position: relative;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    .app-navbar__desktop--link {
      color: $navbar-main-link-color;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 500;
      padding: 0 6px;
      cursor: pointer;
      transition: 0.5s ease-in-out;
      &::after {
        content: "";
        height: 3px;
        width: 0;
        background: $navbar-active-link-color;
        position: absolute;
        left: 0;
        bottom: 0px;
        transition: 0.5s ease-in-out;
      }
      &:hover::after {
        width: 100%;
      }
      &:hover {
        color: $navbar-active-link-color;
      }
    }

    .app-navbar__desktop--active {
      color: $navbar-active-link-color;
      &::after {
        content: "";
        height: 3px;
        width: 100%;
        background: $navbar-active-link-color;
        position: absolute;
        left: 0;
        bottom: 0px;
      }
    }

    .app-navbar__desktop--logout {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: $navbar-main-link-color;
      transition: 0.5s ease-in-out;

      &:hover {
        color: #ab1818;
      }
    }

    .app-navbar__desktop--icon {
      display: flex;
      align-items: center;
    }
  }

  .app-navbar__mobile--button {
    margin-right: 20px;
    margin-top: 20px;
    width: 35px;
    height: 35px;
    font-size: 35px;
    cursor: pointer;
  }
}

.app-navbar__mobile--context {
  width: 75%;
  background-color: $navbar-background-color;
}

.app-navbar__mobile--links {
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .app-navbar__desktop--mobile-link {
    color: $navbar-main-link-color;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    padding: 7vh 0;
    width: 100%;
    border-bottom: solid 1px #ccc;
    border-top: solid 1px #ccc;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    &:hover {
      color: $navbar-active-link-color;
    }
  }
}

@media (max-width: 992px) {
  .app-navbar {
    .app-navbar__desktop {
      display: none;
    }
  }
}

@media (min-width: 992px) {
  .app-navbar {
    .app-navbar__mobile {
      display: none;
    }
  }
  .app-navbar__mobile--button {
    display: none;
  }

  .app-navbar__mobile--context {
    display: none;
  }
}

@media (max-width: 576px) {
  .app-navbar {
    .app-navbar__logo {
      font-size: 20px;
    }

    .app-navbar__mobile--button {
      width: 35px;
      height: 35px;
      font-size: 30px;
    }
  }
}
