@import "../../utilities/variables";

.account-container {
  background-color: $background-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  padding: 0;
  width: 95%;
  height: auto;
  margin-top: 85px;
  min-height: 85vh;
}

.data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-container {
  .image-container__image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 25px;
  }

  .image-container__user-name {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
  }

  .image-container__user-email {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.user-data-container {
  border-left: dotted 1px #ccc;
  border-right: dotted 1px #ccc;
  padding: 20px;

  .user-data-container__header {
    text-align: center;
  }

  .user-data-container__icon {
    width: 35px;
    height: 35px;
    font-size: 35px;
    color: $font-color;
  }

  .user-data__header {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
  }

  .button-with-border {
    margin-top: 25px;
    margin-bottom: 80px;
  }
}

.inline-data {
  display: flex;
  align-items: baseline;
  width: 100%;

  .inline-data__name {
    font-weight: 500;
  }

  .inline-data__dotted-space {
    border-bottom: 1px dotted #aaa;
    flex-grow: 1;
    margin: 0 10px;
  }

  .inline-data__value {
    margin-left: auto;
    font-weight: 400;
  }
}

.user-recipes-container {
  padding: 20px;

  .user-recipes-container__header {
    margin-bottom: 10px;
    text-align: center;
  }

  .user-recipes-container__image {
    width: 75px;
    height: 50px;
    margin: 15px 0;
    cursor: pointer;
  }

  .user-recipes-container__recipe-name {
    margin: 15px 0;
    margin-left: 10px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .user-recipes-container__icon {
    transition: all 0.5s ease-in-out;
    color: $font-color;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }

    &:nth-child(2):hover {
      color: $delete-color;
    }
  }

  .user-recipes-container__list {
    max-height: 75vh;
    overflow: auto;
  }

  .user-recipes-container__recipe {
    display: flex;
    border-bottom: solid 1px #ccc;

    .user-recipes-container__recipe--inline {
      display: flex;
      align-items: center;
    }

    .user-recipes-container__recipe--icons {
      margin-left: auto;
      margin-right: 5px;
    }
  }
}

@media (max-width: 992px) {
  .card-container {
    margin-top: 95px;
    margin-bottom: 20px;
  }

  .user-recipes-container,
  .image-container,
  .user-data-container {
    padding: 10px;
  }

  .user-data-container {
    .button-with-border {
      margin-bottom: 60px;
    }
  }
}

@media (max-width: 355px) {
  .image-container {
    .image-container__image {
      width: 200px;
      height: 200px;
    }
  }
}
