.app-signin {
  background-color: #f2f4f7;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  .app-signin__card {
    display: flex;
    padding: 0;
    width: 900px;
    height: 500px;

    .app-signin__card--left {
      width: 450px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px;

      h1 {
        text-align: center;
        font-size: 40px;
        text-transform: uppercase;
        font-weight: bold;
        color: #022375;
        padding-bottom: 50px;
        margin-top: 0;
        position: relative;
      }

      .app-signin__card--password-button {
        outline: none;
        background: transparent;
        border: 1px solid transparent;
      }

      .app-signin__card--input {
        width: 370px;
        padding-bottom: 10px;
      }

      .app-signin__card--error-message {
        width: 340px;
        padding: 15px;
        font-size: 14px;
        background-color: #f34646;
        color: white;
        border-radius: 5px;
        text-align: center;
      }

      .app-signin__card--login-button {
        display: flex;
        align-items: center;
        justify-content: center;

        button {
          border: none;
          outline: none;
          padding: 16px 0;
          margin-top: 30px;
          border-radius: 20px;
          width: 180px;
          font-weight: bold;
          font-size: 14px;
          cursor: pointer;
          transition: 0.5s ease-in-out;
          background-color: #497af5;
          color: white;

          &:hover {
            background-color: rgba(73, 122, 245, 0.9);
            transform: scale(1.01);
            -webkit-box-shadow: -4px 6px 18px -5px rgba(161, 165, 206, 1);
            -moz-box-shadow: -4px 6px 18px -5px rgba(161, 165, 206, 1);
            box-shadow: -4px 6px 18px -5px rgba(161, 165, 206, 1);
          }
        }
      }
    }

    .app-signin__card--right {
      width: 450px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: rgba(73, 122, 245, 0.8);
      margin-top: 0;
      color: white;
      text-align: center;

      h1 {
        font-size: 25px;
        font-weight: bold;
      }

      p {
        font-size: 15px;
        padding: 0 15px;
      }

      h2 {
        font-size: 20px;
        padding-top: 40px;
      }

      .app-signin__card--register-button {
        border: none;
        outline: none;
        padding: 16px 0;
        border-radius: 20px;
        width: 180px;
        font-weight: bold;
        font-size: 14px;
        cursor: pointer;
        transition: 0.5s ease-in-out;
        background-color: white;
        color: #022375;
        &:hover {
          background-color: rgba(255, 255, 255, 0.9);
          transform: scale(1.01);
          -webkit-box-shadow: -4px 6px 18px -5px rgba(205, 205, 205, 1);
          -moz-box-shadow: -4px 6px 18px -5px rgba(205, 205, 205, 1);
          box-shadow: -4px 6px 18px -5px rgba(205, 205, 205, 1);
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .app-signin {
    width: auto;
    height: auto;
    .app-signin__card {
      width: 600px;
      height: 900px;
      margin-top: 90px;
      margin-bottom: 40px;
      .app-signin__card--left {
        width: 600px;
      }
      .app-signin__card--right {
        width: 600px;
      }
    }
  }
}

@media (max-width: 768px) {
  .app-signin {
    .app-signin__card {
      width: 500px;
      height: 900px;
      .app-signin__card--left {
        width: 500px;
      }
      .app-signin__card--right {
        width: 500px;
      }
    }
  }
}

@media (max-width: 576px) {
  .app-signin {
    .app-signin__card {
      width: 300px;
      height: 900px;
      .app-signin__card--left {
        width: 300px;
        .app-signin__card--input {
          width: 250px;
        }
        h1 {
          font-size: 25px;
        }
        .app-signin__card--login-button {
          button {
            padding: 13px 0;
            width: 150px;
            font-size: 10px;
          }
        }
      }
      .app-signin__card--right {
        width: 300px;
        h1 {
          font-size: 20px;
        }

        p {
          font-size: 10px;
        }

        h2 {
          font-size: 15px;
        }
        .app-signin__card--register-button {
          padding: 13px 0;
          width: 150px;
          font-size: 10px;
        }
      }
    }
  }
}
