$recipe-detail-background-color: #fafafa;
$font-color: #616159;
$add-to-schedule-button-color: #f7f6e6;

h2,
h1,
p {
  color: $font-color;
}

h2 {
  margin: 0;
  margin-bottom: 5px;
  font-weight: 600;
}

mat-checkbox {
  display: flex;
  align-items: center;
}

.app-recipe-detail {
  background-color: $recipe-detail-background-color;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 90px;

  .app-recipe-detail__card {
    display: flex;
    padding: 0;
    width: 95%;
    height: auto;
    margin-bottom: 25px;

    .app-recipe-detail--image-container {
      padding: 15px;
      position: relative;

      .app-recipe-detail--image {
        width: 100%;
        height: 450px;
        object-fit: cover;
        border-radius: 10px;
      }

      .app-recipe-detail--image-button {
        position: absolute;
        bottom: 0;
        right: 1%;
        border: none;
        outline: none;
        padding: 10px 0;
        margin-top: 30px;
        border-radius: 20px;
        width: 35%;
        font-weight: 500;
        font-size: 16px;
        cursor: pointer;
        transition: 0.5s ease-in-out;
        background-color: $add-to-schedule-button-color;
        color: $font-color;

        &:hover {
          background-color: $add-to-schedule-button-color;
          transform: scale(1.01);
        }
      }
    }

    .app-recipe-detail--products-container {
      padding: 15px 60px;

      .app-recipe-detail--recipe-name {
        margin: 0;
        margin-bottom: 10px;
        font-size: 2.5vw;
        font-weight: 500;
      }

      .app-recipe-detail--inline-icon {
        display: flex;
        padding-bottom: 40px;
        .app-recipe-detail--center-icon {
          width: 30%;
          display: flex;
          align-items: center;
        }
      }

      .app-recipe-detail--product {
        padding: 0;
        margin: 0;
        padding: 7px 0;
        border-bottom: solid 1px #ccc;

        .app-recipe-detail--icon-to-right {
          float: right;

          .app-recipe-detail--have-product-icon {
            color: green;
          }

          .app-recipe-detail--havent-product-icon {
            color: #ab1827;
          }
        }
      }
    }

    .app-recipe-detail--nutrients-container {
      padding: 25px 60px;

      .app-recipe-detail--nutrient-container {
        margin-bottom: 10px;
        display: flex;
        align-items: baseline;

        .app-recipe-detail--nutrient-name {
          font-weight: 500;
        }
        .app-recipe-detail--nutrient-dotted {
          border-bottom: 1px dotted #aaa;
          flex-grow: 1;
          margin: 0 10px;
        }
        .app-recipe-detail--nutrient-value {
          margin-left: auto;
        }
      }
    }

    .app-recipe-detail--recipe-container {
      height: 50%;
      padding: 25px;

      .app-recipe-detail--recipe-step {
        padding: 0;
        margin: 0;
        padding: 10px 0;
        display: flex;
        align-items: center;
        border-bottom: solid 1px #ccc;

        .app-recipe-detail--recipe-step-doing {
          padding-left: 10px;
          font-size: 16px;
          font-weight: 500;
        }

        .app-recipe-detail--recipe-step-todo {
          padding-left: 10px;
        }

        .app-recipe-detail--recipe-step-done {
          padding-left: 10px;
          font-weight: 400;
          text-decoration: line-through;
        }
      }
    }
  }
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: green !important;
}

::ng-deep .mat-checkbox-ripple .mat-ripple-element {
  background-color: green !important;
}

@media (max-width: 992px) {
  .app-recipe-detail {
    .app-recipe-detail__card {
      .app-recipe-detail--image-container {
        margin-bottom: 20px;
        .app-recipe-detail--image {
          height: 500px;
        }
        .app-recipe-detail--image-button {
          font-size: 2vw;
        }
      }
      .app-recipe-detail--nutrients-container {
        padding: 15px 60px;
      }
      .app-recipe-detail--recipe-container {
        padding: 15px 60px;
      }

      .app-recipe-detail--products-container {
        .app-recipe-detail--recipe-name {
          font-size: 5vw;
          text-align: center;
        }

        .app-recipe-detail--recipe-author {
          text-align: center;
        }

        .app-recipe-detail--inline-icon {
          display: flex;
          align-items: center;
          justify-content: center;
          .app-recipe-detail--center-icon {
            width: auto;
            padding-right: 5px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .app-recipe-detail {
    .app-recipe-detail__card {
      .app-recipe-detail--products-container {
        .app-recipe-detail--recipe-name {
          font-size: 6vw;
        }
      }
      .app-recipe-detail--products-container {
        padding: 15px;
      }
      .app-recipe-detail--nutrients-container {
        padding: 15px;
      }
      .app-recipe-detail--recipe-container {
        padding: 15px;
      }
    }
  }
}

@media (max-width: 576px) {
  .app-recipe-detail {
    .app-recipe-detail__card {
      .app-recipe-detail--image-container {
        .app-recipe-detail--image {
          height: 300px;
        }
        .app-recipe-detail--image-button {
          font-size: 2.5vw;
        }
      }
      .app-recipe-detail--products-container {
        height: 50%;
      }
    }
  }
}
