<div class="app-recipe-detail">
  <mat-card class="app-recipe-detail__card row">
    <div
      class="app-recipe-detail--image-container col-lg-7 col-md-12 col-sm-12"
    >
      <img
        class="app-recipe-detail--image"
        [src]="recipe.image"
        [alt]="recipe.name"
      />
      <button
        (click)="openAddtoScheduleDialog('0ms', '0ms')"
        class="app-recipe-detail--image-button"
        mat-button
      >
        Dodaj do harmonogramu
      </button>
    </div>
    <div
      class="app-recipe-detail--products-container col-lg-5 col-md-12 col-sm-12"
    >
      <h1 class="app-recipe-detail--recipe-name">{{ recipe.name }}</h1>

      <p class="app-recipe-detail--recipe-author" *ngIf="recipe.author">
        Autor: {{ recipe.author }}
      </p>
      <div class="app-recipe-detail--inline-icon">
        <div class="app-recipe-detail--center-icon">
          <mat-icon>access_time</mat-icon>
          <span>{{ recipe.cookingTime }}</span>
        </div>
        <div class="app-recipe-detail--center-icon">
          <mat-icon>person_outline</mat-icon>
          <span>{{ recipe.portions }} porcje</span>
        </div>
      </div>
      <h2>Składniki:</h2>
      <div
        class="app-recipe-detail--product"
        *ngFor="let product of recipe.products"
      >
        <span
          >- {{ product.quantity }}{{ product.measureUnit }}
          {{ product.name }}</span
        >
        <span class="app-recipe-detail--icon-to-right"
          ><mat-icon
            *ngIf="checkUserHaveProduct(product)"
            class="app-recipe-detail--have-product-icon"
            >done</mat-icon
          >
          <mat-icon
            *ngIf="!checkUserHaveProduct(product)"
            class="app-recipe-detail--havent-product-icon"
            >close</mat-icon
          ></span
        >
      </div>
    </div>
    <div
      class="app-recipe-detail--recipe-container col-lg-7 col-md-12 col-sm-12"
    >
      <h2>Przepis:</h2>
      <div
        class="app-recipe-detail--recipe-step"
        *ngFor="let recipe of recipe.recipe; let i = index"
      >
        <mat-checkbox
          [disabled]="checkDisabled(i)"
          (click)="makeAsDone(i)"
        ></mat-checkbox>
        <span
          *ngIf="recipeStep[i] === 'doing'"
          class="app-recipe-detail--recipe-step-doing"
        >
          {{ i + 1 }}. {{ recipe }}</span
        >

        <span
          *ngIf="recipeStep[i] === 'toDo'"
          class="app-recipe-detail--recipe-step-todo"
        >
          {{ i + 1 }}. {{ recipe }}</span
        >
        <span
          *ngIf="recipeStep[i] === 'done'"
          class="app-recipe-detail--recipe-step-done"
        >
          {{ i + 1 }}. {{ recipe }}</span
        >
        <br />
      </div>
    </div>
    <div
      class="app-recipe-detail--nutrients-container col-lg-5 col-md-12 col-sm-12"
    >
      <h2>Składniki odżywcze:</h2>
      <p>Podane wartości odpowiadają jednej porcji.</p>
      <div class="app-recipe-detail--nutrient-container">
        <span class="app-recipe-detail--nutrient-name">Kalorie: </span>
        <span class="app-recipe-detail--nutrient-value"
          >{{ recipe.calories }} kcal</span
        >
      </div>
      <div class="app-recipe-detail--nutrient-container">
        <span class="app-recipe-detail--nutrient-name">Węglowodany: </span>
        <span class="app-recipe-detail--nutrient-value"
          >{{ recipe.carbohydrates }} g</span
        >
      </div>
      <div class="app-recipe-detail--nutrient-container">
        <span class="app-recipe-detail--nutrient-name">Białko: </span>
        <span class="app-recipe-detail--nutrient-value"
          >{{ recipe.proteins }} g</span
        >
      </div>
      <div class="app-recipe-detail--nutrient-container">
        <span class="app-recipe-detail--nutrient-name">Tłuszcze: </span>
        <span class="app-recipe-detail--nutrient-value"
          >{{ recipe.fats }} g</span
        >
      </div>
    </div>
  </mat-card>
</div>
