<div class="recipe-detail-container">
  <mat-card class="card-container row">
    <div class="image-container col-lg-7 col-md-12 col-sm-12">
      <img
        class="image-container__image"
        [src]="recipe.image"
        [alt]="recipe.name"
      />
      <button
        *ngIf="userIsAuthenticated"
        (click)="openAddtoScheduleDialog('0ms', '0ms')"
        class="image-container__button"
        mat-button
      >
        Dodaj do harmonogramu
      </button>
    </div>

    <div class="detail-container col-lg-5 col-md-12 col-sm-12">
      <h1 class="detail-container__name">{{ recipe.name }}</h1>
      <p
        class="detail-container__author"
        *ngIf="recipe.author !== 'Administrator'"
      >
        Autor: {{ recipe.author }}
      </p>
      <div class="detail-container__inline-icon">
        <div class="detail-container__center-icon">
          <mat-icon>access_time</mat-icon>
          <span>{{ recipe.cookingTime }} min</span>
        </div>
        <div class="detail-container__center-icon">
          <mat-icon>signal_cellular_alt</mat-icon>
          <span>{{ recipe.level }}</span>
        </div>
        <div class="detail-container__center-icon">
          <mat-icon>person_outline</mat-icon>
          <span>{{ recipe.portions }}</span>
        </div>
      </div>
      <div class="detail-container__chips">
        <span class="detail-container__chip-header">Tagi: </span>
        <span class="detail-container__chip">{{ recipe.category }}</span>
        <span class="detail-container__chip">dieta {{ recipe.dietType }}</span>
      </div>
      <div class="parallelogram-header">
        <h2>Składniki odżywcze:</h2>
      </div>
      <p>Podane wartości odpowiadają jednej porcji.</p>
      <div class="detail-container__nutrient">
        <span class="detail-container__nutrient--name">Kalorie: </span>
        <span class="detail-container__nutrient--dotted"></span>
        <span class="detail-container__nutrient--value"
          >{{ recipe.calories }} kcal</span
        >
      </div>
      <div class="detail-container__nutrient">
        <span class="detail-container__nutrient--name">Węglowodany: </span>
        <span class="detail-container__nutrient--dotted"></span>
        <span class="detail-container__nutrient--value"
          >{{ recipe.carbohydrates }} g</span
        >
      </div>
      <div class="detail-container__nutrient">
        <span class="detail-container__nutrient--name">Białko: </span>
        <span class="detail-container__nutrient--dotted"></span>
        <span class="detail-container__nutrient--value"
          >{{ recipe.proteins }} g</span
        >
      </div>
      <div class="detail-container__nutrient">
        <span class="detail-container__nutrient--name">Tłuszcze: </span>
        <span class="detail-container__nutrient--dotted"></span>
        <span class="detail-container__nutrient--value"
          >{{ recipe.fats }} g</span
        >
      </div>
    </div>

    <div class="products-container col-lg-5 col-md-12 col-sm-12">
      <div class="parallelogram-header">
        <h2>Składniki:</h2>
      </div>
      <div
        class="products-container__product"
        *ngFor="let product of recipe.products"
      >
        <span
          >- {{ product.name }} {{ product.quantity }}{{ product.measureUnit }}
        </span>
        <span
          *ngIf="userIsAuthenticated"
          class="products-container__product--icon-to-right"
          ><mat-icon
            *ngIf="checkUserHaveProduct(product)"
            class="products-container__product--have-product-icon"
            >done</mat-icon
          >
          <mat-icon
            *ngIf="!checkUserHaveProduct(product)"
            class="products-container__product--havent-product-icon"
            >close</mat-icon
          ></span
        >
      </div>
    </div>

    <div class="recipe-container col-lg-7 col-md-12 col-sm-12">
      <div class="parallelogram-header">
        <h2>Przepis:</h2>
      </div>
      <div
        class="recipe-container__step"
        *ngFor="let recipe of recipe.recipeStep; let i = index"
      >
        <mat-checkbox
          [disabled]="checkDisabled(i)"
          (click)="makeStepAsDone(i)"
        ></mat-checkbox>
        <span
          *ngIf="recipeSteps[i] === 'doing'"
          class="recipe-container__step--doing"
        >
          {{ i + 1 }}. {{ recipe.name }}</span
        >

        <span
          *ngIf="recipeSteps[i] === 'toDo'"
          class="recipe-container__step--todo"
        >
          {{ i + 1 }}. {{ recipe.name }}</span
        >
        <span
          *ngIf="recipeSteps[i] === 'done'"
          class="recipe-container__step--done"
        >
          {{ i + 1 }}. {{ recipe.name }}</span
        >
        <br />
      </div>
    </div>
  </mat-card>
</div>
