textarea {
  resize: none;
  height: 20px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;

  .form__input {
    width: 75%;
    padding: 0 10px;
    word-wrap: break-word;
  }

  .form__delete-icon {
    cursor: pointer;
    margin-bottom: 19px;
  }
}

@media (max-width: 1150px) {
  .form {
    .form__input {
      width: 90%;
    }
  }
}

@media (max-width: 992px) {
  textarea {
    height: 35px;
  }

  .form {
    .form__input {
      width: 90%;
    }
  }
}

@media (max-width: 576px) {
  textarea {
    height: 50px;
  }
}

@media (max-width: 360px) {
  textarea {
    height: 70px;
  }
}
