@import "../../utilities/variables";

p,
h2 {
  margin: 0;
  padding: 0;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: green !important;
}

::ng-deep .mat-checkbox-ripple .mat-ripple-element {
  background-color: green !important;
}

.schedule-container {
  background-color: $background-color;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.card-container {
  display: flex;
  padding: 0;
  width: 90%;
  height: auto;
  margin-top: 90px;
  min-height: 85vh;
}

.data-container {
  display: flex;
  flex-direction: column;
}

.meals-container {
  justify-content: center;
  padding: 30px 30px 30px 45px;

  .meals-container__meals {
    flex-direction: column;
    padding: 15px 0;
    border-bottom: dotted 1px #ccc;
    margin: 0;
  }

  .meals-container__meal-header {
    padding-bottom: 10px;
    font-weight: 500;
  }

  .meals-container__meal-details {
    display: flex;
    align-items: center;

    .meals-container__meal-details--checkbox {
      padding: 0;
      text-align: center;
    }

    .meals-container__meal-details--image {
      width: 100px;
      height: 50px;
      cursor: pointer;
    }

    .meals-container__meal-details--recipe-name {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    .meals-container__meal-details--delete {
      margin: 0;
      padding: 0;
      margin-left: auto;
      margin-right: 10px;
      cursor: pointer;
      transition: all 0.5s ease-in-out;

      &:hover {
        transform: scale(1.1);
        color: $delete-color;
      }
    }
  }
}

.details-container {
  padding: 30px 20px;

  .details-container__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 500;

    .details-container__header--icon {
      margin-right: 20px;
      font-size: 35px;
      width: 35px;
      height: 35px;
    }

    .details-container__header--text {
      text-transform: uppercase;
      padding-bottom: 20px;
      text-align: center;
      margin-right: 20px;
    }
  }

  .details-container__link {
    padding: 5px 0;
    text-align: center;
  }

  .details-container__data {
    padding-bottom: 5px;
    display: flex;
    align-items: baseline;

    .details-container__data--name {
      font-weight: 500;
      color: $font-color;
    }

    .details-container__data--dotted {
      border-bottom: 1px dotted #aaa;
      flex-grow: 1;
      margin: 0 10px;
    }

    .details-container__data--value {
      margin-left: auto;
      margin-right: 20px;
    }
  }
}

.details-container__buttons {
  display: flex;
  margin: 20px 0;

  .white-button {
    margin: 0 2px;
    padding: 10px 15px;
  }
}

.snack-container {
  .snack-container__header {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 500;
  }

  .snack-container__subheader {
    text-align: center;
    font-weight: 400;
  }

  .snack-container__snacks {
    max-height: 22vh;
    overflow: auto;
  }

  .snack-container__snack {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px #ccc;

    .snack-container__snack--name {
      width: 95%;
    }

    .snack-container__snack--delete {
      float: right;
    }
  }
}

@media (max-width: 992px) {
  .card-container {
    min-height: 0;
  }
}

@media (max-width: 576px) {
  .center-text {
    text-align: center;
  }

  .meals-container {
    padding: 10px;

    .meals-container__meal-header {
      text-align: center;
    }

    .meals-container__meal-details {
      display: flex;
      justify-content: center;
      align-items: center;

      .meals-container__meal-details--checkbox {
        text-align: center;
        padding-bottom: 15px;
      }

      .meals-container__meal-details--image {
        margin-right: 0;
        width: 130px;
        height: 75px;
        margin-bottom: 15px;
      }

      .meals-container__meal-details--recipe-name {
        text-align: center;
        margin-bottom: 15px;
      }

      .meals-container__meal-details--delete {
        margin: 0;
        padding: 0;
      }
    }
  }

  .details-container {
    padding: 10px;

    .details-container__data {
      .details-container__data--value {
        margin-left: auto;
        margin-right: 0;
      }
    }
  }
}
